datasets==1.2.1
flax==0.5.3
mlflow==1.28.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tokenizers==0.10.3
torch==1.12.1
torchaudio==0.14.0.dev20220603
torchinfo==1.7.0
torchmetrics==0.9.3
torchsummary==1.5.1
torchvision==0.14.0.dev20220724
torchviz==0.0.2
transformers==4.3.3
tvm==1.0.0
wandb==0.13.2